packages/
obj/
bin/
.vs/
*.user
*.pdb
Debugs/
error.log
Thumbs.db
*.bak
*.zip
*.exe
*.msi
*.txt


/TotalMEPProject/TotalMEPProject/obj
/TotalMEPProject/TotalMEPProject/bin
/TotalMEPProject/.vs/TotalMEPProject/v17/*.suo
